@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --h-cell: 10px;
    --ff-base: 'Sono', monospace;
}

body {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    font-family: var(--ff-base);
    height: 100svh;
    justify-content: center;
}

.header {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.75rem;
    position: relative;
}

.container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
    justify-content: center;
    position: relative;
}

.game-status {
    background-color: #efefef;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
}

.board {
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(3, 150px);
}

.cell {
    background-color: white;
    border: none;
    font-size: 5rem;
    font-weight: 500;
    padding-bottom: 0.9rem;
    position: relative;
}

.cell:nth-of-type(-n + 6)::before,
.cell:nth-of-type(3n + 1)::after,
.cell:nth-of-type(3n + 2)::after {
    background-color: gray;
    border-radius: calc(var(--h-cell) / 2);
    content: '';
    position: absolute;
    z-index: 1;
}

.cell:nth-of-type(-n + 6)::before {
    bottom: calc((var(--h-cell) / 2) - var(--h-cell));
    height: var(--h-cell);
    left: calc((var(--h-cell) / 2) - var(--h-cell));
    width: calc(100% + var(--h-cell));
}

.cell:nth-of-type(3n + 1)::after,
.cell:nth-of-type(3n + 2)::after {
    height: calc(100% + var(--h-cell));
    right: calc((var(--h-cell) / 2) - var(--h-cell));
    top: calc((var(--h-cell) / 2) - var(--h-cell));
    width: var(--h-cell);
}

.buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.buttons > button {
    border-radius: 8px;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
}

.buttons > button:hover {
    filter: brightness(0.9);
}

.name-players {
    align-items: center;
    border-radius: 8px;
    border: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    justify-content: center;
    left: 50%;
    padding: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.name-players__form {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.25rem;
}

.name-players__form > label {
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.name-players__form > input {
    background-color: #efefef;
    border-radius: 8px;
    border: none;
    margin-bottom: 1rem;
    padding: 0.2rem 0.5rem;
}

.name-players__form > input:focus {
    filter: brightness(0.9);
    outline: none;
}

.name-players__btn {
    align-self: center;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    margin-top: 0.5rem;
    padding: 0.3rem 1rem;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

@supports (backdrop-filter: blur(4px)) {
    ::backdrop {
        backdrop-filter: blur(4px);
    }
}
